<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>62265186094-goe1trbvmso12lsti12ob1iq2g3u7squ.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.62265186094-goe1trbvmso12lsti12ob1iq2g3u7squ</string>
	<key>API_KEY</key>
	<string>AIzaSyBBAfPAl530EyX26u7gdy6_LZPWdFC4pa8</string>
	<key>GCM_SENDER_ID</key>
	<string>62265186094</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cryptos.cryptoApp</string>
	<key>PROJECT_ID</key>
	<string>retrospect-accounts</string>
	<key>STORAGE_BUCKET</key>
	<string>retrospect-accounts.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:62265186094:ios:f127097361d3a6b1fc8cbf</string>
</dict>
</plist>