<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>465652700448-7b334ksnntlngi1keir3ssiv9ahpfc54.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.465652700448-7b334ksnntlngi1keir3ssiv9ahpfc54</string>
	<key>API_KEY</key>
	<string>AIzaSyD_0OxKDz6SxxJafTDnyCWl2UenAlf9Gv0</string>
	<key>GCM_SENDER_ID</key>
	<string>465652700448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.retrospectapps.com</string>
	<key>PROJECT_ID</key>
	<string>crypto-project-001</string>
	<key>STORAGE_BUCKET</key>
	<string>crypto-project-001.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465652700448:ios:052e05dd23314272643345</string>
	<key>DATABASE_URL</key>
	<string>https://crypto-project-001-default-rtdb.firebaseio.com</string>
</dict>
</plist>